aiodocker==0.16.0
aiohttp==3.6.1
aioredis==1.3.0
amqp==2.5.1
asgi-redis==1.0.0
asgiref==3.2.2
asn1crypto==1.0.0
async-timeout==3.0.1
attrs==19.2.0
autobahn==19.10.1
Automat==0.7.0
billiard==3.6.1.0
cachetools==3.1.1
celery==4.3.0
certifi==2019.9.11
cffi==1.12.3
channels==2.3.0
channels-redis==2.4.0
chardet==3.0.4
constantly==15.1.0
cryptography==2.7
daphne==2.3.0
Django==2.2.5
django-cors-middleware==1.4.0
django-filter==2.2.0
django-jsonfield==1.3.1
django-lti-provider==0.3.3
django-mysql==3.2.0
django-oauth-toolkit==1.2.0
django-sslserver==0.21
djangorestframework==3.10.3
djangorestframework-simplejwt==4.3.0
docker==4.0.2
filelock==3.0.12
gdown==3.8.3
google-api-python-client==1.7.11
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
hiredis==1.0.0
httplib2==0.14.0
hyperlink==19.0.0
idna==2.8
importlib-metadata==0.23
incremental==17.5.0
kombu==4.6.5
Markdown==3.1.1
more-itertools==7.2.0
msgpack==0.6.2
msgpack-python==0.5.6
multidict==4.5.2
nameparser==1.0.4
oauth2==1.9.0.post1
oauthlib==3.1.0
pyasn1==0.4.7
pyasn1-modules==0.2.7
pycparser==2.19
PyHamcrest==1.9.0
PyJWT==1.7.1
PyLTI==0.7.0
pytz==2019.2
redis==3.3.11
requests==2.22.0
requests-oauthlib==1.2.0
rsa==4.0
six==1.12.0
sqlparse==0.3.0
tqdm==4.36.1
Twisted==19.7.0
txaio==18.8.1
uritemplate==3.0.0
urllib3==1.25.6
vine==1.3.0
websocket-client==0.56.0
yarl==1.3.0
zipp==0.6.0
zope.interface==4.6.0
